# Compiled files
*.class
/build
/dist

# JUnit output
/TEST*.xml

# Javadoc output
/doc

# Eclipse build files
/examples/android/NDNPing/bin

# Emacs temp files
*~

# unit_test temporary files
examples/src/net/named_data/jndn/tests/unit_tests/policy_config/test-public-info.db

# Maven output
/target
